= DateTime.now.strftime('%b/%d/%Y %H:%M')
.row-fluid
  .col-m-7.infobox-container
    .infobox.infobox-blue.infobox-dark
      .infobox-chart
        %span.sparkline{'values' => "#{invoice_for_yesterday.to_i}, #{invoice_for_today.to_i}"}
      .infobox-data
        .infobox-data-number
          = number_with_precision(invoice_for_today, :precision => 2)
        .infobox-content
          Today's invoice
      .div.stat
    .infobox.infobox-green.infobox-dark
      .infobox-chart
        %span.sparkline{'values' => "#{invoice_for_last_week.to_i}, #{invoice_for_current_week.to_i}"}
      .infobox-data
        .infobox-data-number
          = number_with_precision(invoice_for_current_week, :precision => 2)
        .infobox-content
          Weekly invoice  
      .div.stat
    .infobox.infobox-orange.infobox-dark
      .infobox-chart
        %span.sparkline{'values' => "#{invoice_for_last_month.to_i}, #{invoice_for_current_month.to_i}"}
      .infobox-data
        .infobox-data-number
          = number_with_precision(invoice_for_current_month, :precision => 2)
        .infobox-content
          Monthly invoice
      .div.stat