%h2
  = DateTime.now.strftime('%b/%d/%Y %H:%M')
.row-fluid{'class' => current_user.is_secretary? ? 'hidden':'show'}
  .col-m-7.infobox-container
    .infobox.infobox-blue.infobox-dark
      .infobox-chart
        %span.sparkline{'values' => "#{invoice_for_yesterday.to_i}, #{invoice_for_today.to_i}"}
      .infobox-data
        .infobox-data-number
          = number_with_precision(invoice_for_today, :precision => 2)
        .infobox-content
          Today's invoice
      .div.stat
    .infobox.infobox-green.infobox-dark
      .infobox-chart
        %span.sparkline{'values' => "#{invoice_for_last_week.to_i}, #{invoice_for_current_week.to_i}"}
      .infobox-data
        .infobox-data-number
          = number_with_precision(invoice_for_current_week, :precision => 2)
        .infobox-content
          Weekly invoice  
      .div.stat
    .infobox.infobox-orange.infobox-dark
      .infobox-chart
        %span.sparkline{'values' => "#{invoice_for_last_month.to_i}, #{invoice_for_current_month.to_i}"}
      .infobox-data
        .infobox-data-number
          = number_with_precision(invoice_for_current_month, :precision => 2)
        .infobox-content
          Monthly invoice
      .div.stat
%hr
.row-fluid
  %table.table.table-hover.table-responsive#appointments
    %thead
      %tr.info
        %th Scheduled for Today
        %th Patient
        %th Remarks
        %th Procedure
        %th Estimated Time
        %th Updated By
        %th

    %tbody
      - appointments_for_today.each do |appointment|
        %tr
          %td= appointment.starts_at.strftime('%H:%M')
          %td= link_to appointment.procedure.patient.full_name, patient_path(appointment.procedure.patient)
          %td= appointment.remarks
          %td= appointment.procedure.procedure
          %td= appointment.est_time
          %td= appointment.updated_by
%hr
.row-fluid
  = form_for current_user, url: update_user_note_path(current_user) do |f|
    .field.form-group
      = f.label :notes
      = f.text_area :notes, class: 'form-control'
    .actions
      = f.submit 'Save', class: 'btn btn-primary'