= form_for @inventory do |f|
  - if @inventory.errors.any?
    #error_explanation
      %h2= "#{pluralize(@inventory.errors.count, "error")} prohibited this inventory from being saved:"
      %ul
        - @inventory.errors.full_messages.each do |msg|
          %li= msg

  .field.form-group
    = label_tag 'Product'
    = select_tag 'product_id',
      options_from_collection_for_select(Product.all, 'id', 'name', @inventory.try(:product).try(:id)), class: 'form-control'
  .field.form-group
    = f.label :quantity
    = f.number_field :quantity, class: 'form-control'
  .field.form-group
    = f.label :remarks
    = f.text_area :remarks, rows: 3, class: 'form-control'
  .field.form-group
    = label_tag 'User'
    = current_user.email
  .actions
    = f.submit 'Save', class: 'btn btn-primary'
