%h1 Listing inventories

%table.table-responsive
  %tr.info
    %th Product
    %th Quantity
    %th User
    %th Remarks
    %th
    %th

  - @inventories.each do |inventory|
    %tr
      %td= link_to inventory.product.name, product_path(inventory.product)
      %td= inventory.quantity
      %td= inventory.user.email
      %td= inventory.remarks
      %td= link_to 'Show', inventory
      %td= link_to 'Edit', edit_inventory_path(inventory)

%br

= link_to 'New Inventory', new_inventory_path, class: 'btn btn-primary'
