%p#notice= notice

%p
  %b Product:
  = link_to @inventory.product.name, product_path(@inventory.product)
%p
  %b Quantity:
  = @inventory.quantity
%p
  %b User:
  = @inventory.user.email
%p
  %b Remarks:
  = @inventory.remarks

= link_to 'Edit', edit_inventory_path(@inventory)
\|
= link_to 'Back', inventories_path
