%p#notice= notice

%p
  %b Product:
  = @inventory.product
%p
  %b Quantity:
  = @inventory.quantity
%p
  %b Action:
  = @inventory.action
%p
  %b User:
  = @inventory.user
%p
  %b Remarks:
  = @inventory.remarks

= link_to 'Edit', edit_inventory_path(@inventory)
\|
= link_to 'Back', inventories_path
