%h3 Invoices

%table.table.table-hover.table-responsive#invoices
  %thead
    %tr.info
      %th Invoice No.
      %th Total amt due
      %th Amt received
      %th Balance
      %th Status
      %th Last Updated
      %th

  %tbody
    - invoices.each do |invoice|
      %tr
        %td= "OCDC#{invoice.id}"
        %td.tabtoright= number_with_precision(invoice.total_amt_due, :precision => 2)
        %td.tabtoright= number_with_precision(invoice.amt_received, :precision => 2)
        %td.tabtoright= number_with_precision(invoice.balance, :precision => 2)
        %td= invoice.status
        %td= invoice.updated_at.strftime('%d %b %y %H:%M')
        %td
          - if invoice.is_partial_invoice?
            %span= link_to 'Generate Partial Invoice', generate_partial_invoice_path(invoice.id), class: 'glyphicon glyphicon-plus btn btn-link btn-xs'
