- if @invoice.patient
  = render 'patients/show', :patient => @invoice.patient
  %hr
  .pull-right.actions
    = link_to 'Show Record', @invoice.patient, class: 'btn btn-link btn-xs glyphicon glyphicon-tasks'

%h3
  Editing invoice
  %span.actions
    = link_to 'Cancel', root_path, class: 'btn btn-link btn-xs glyphicon glyphicon-remove-circle'

.containter-fluid
  %h4 Invoice Details
  = render 'invoice_details/list', :invoice_details => @invoice.invoice_details
  = render 'form'
