%h1 Listing invoices

%table.table.table-hover.table-responsive
  %tr.info
    %th Patient
    %th Total amt due
    %th Amt received
    %th Balance
    %th Status
    %th
    %th

  - @invoices.each do |invoice|
    %tr
      %td= link_to invoice.patient.full_name, patient_path(invoice.patient)
      %td= invoice.total_amt_due
      %td= invoice.amt_received
      %td= invoice.balance
      %td= invoice.status
      %td= link_to 'Show', invoice
      %td= link_to 'Edit', edit_invoice_path(invoice)

%br

= link_to 'New Invoice', new_invoice_path, class: 'btn btn-primary'
