= form_for @invoice_detail do |f|
  - if @invoice_detail.errors.any?
    #error_explanation
      %h2= "#{pluralize(@invoice_detail.errors.count, "error")} prohibited this invoice_detail from being saved:"
      %ul
        - @invoice_detail.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :quantity
    = f.number_field :quantity
  .field
    = f.label :price
    = f.text_field :price
  .field
    = f.label :invoice_type
    = f.select :invoice_type, options_for_select(["Procedure", "Appointment", "Product"])
  .actions
    = f.submit 'Save'
