= form_for @invoice_detail do |f|
  - if @invoice_detail.errors.any?
    #error_explanation
      %h2= "#{pluralize(@invoice_detail.errors.count, "error")} prohibited this invoice_detail from being saved:"
      %ul
        - @invoice_detail.errors.full_messages.each do |msg|
          %li= msg

  .field.form-group
    = f.label :quantity
    = f.number_field :quantity, class: 'form-control'
  .field.form-group
    = f.label :price
    = f.text_field :price, class: 'form-control'
  .field.form-group
    = f.label :invoice_type
    = f.select :invoice_type, options_for_select(["Procedure", "Appointment", "Product"]), class: 'form-control'
  .actions
    = f.submit 'Save', class: 'btn btn-primary'
