%h1 Listing invoice_details

%table
  %tr
    %th Quantity
    %th Price
    %th Type
    %th
    %th

  - @invoice_details.each do |invoice_detail|
    %tr
      %td= invoice_detail.quantity
      %td= invoice_detail.price
      %td= invoice_detail.type
      %td= invoice_detail.type
      %td= link_to 'Show', invoice_detail
      %td= link_to 'Edit', edit_invoice_detail_path(invoice_detail)

%br

= link_to 'New Invoice detail', new_invoice_detail_path
