= form_for @patient do |f|
  - if @patient.errors.any?
    #error_explanation
      %h2= "#{pluralize(@patient.errors.count, "error")} prohibited this patient from being saved:"
      %ul
        - @patient.errors.full_messages.each do |msg|
          %li= msg

  .field.form-group
    = f.label :last_name
    = f.text_field :last_name, class: 'form-control'
  .field.form-group
    = f.label :first_name
    = f.text_field :first_name, class: 'form-control'
  .field.form-group
    = f.label :birthday
    = f.date_select :birthday, :start_year => 1900, class: 'form-control'
  .field.form-group
    = f.label :contact
    = f.text_field :contact, class: 'form-control'
  .field.form-group
    = f.label :sex
    - sex = @patient.sex ? ["F", 1] : ["M", 0]
    = f.select :sex, options_for_select([["M", 0], ["F", 1]], sex), class: 'form-control'
  .field.form-group
    = f.label :status
    = f.select :status, options_for_select(["Single", "Married", "Widowed", "Separated"], @patient.status), class: 'form-control'
  .field.form-group
    = f.label :occupation
    = f.text_field :occupation, class: 'form-control'
  .actions
    = f.submit 'Save', class: 'btn btn-primary'
