.container-fluid
  .pull-right
    %span=link_to 'Update Patient Info', edit_patient_path(patient), class: 'btn btn-link btn-xs glyphicon glyphicon-pencil'
  %h3.name
    = patient.full_name

  .row
    .col-xs-3
      %b Sex:
      -if patient.sex
        F
      -else
        M
    .col-xs-3
      %b Status:
      = patient.status
    .col-xs-3
      %b Contact:
      = patient.contact
  .row
    .col-xs-3
      %b Birthday:
      = patient.birthday
    .col-xs-3
      %b Age:
      = Patient.compute_age(patient.birthday)
    .col-xs-3
      %b Occupation:
      = patient.occupation