= render 'show', :patient => @patient
%hr
.action.pull-right.panel
  = link_to 'Add Procedure', new_patient_procedure_path(@patient.id), class: 'glyphicon glyphicon-plus btn btn-link btn-xs'
  \|
  = link_to 'Set Appointment', new_appointment_path(patient: @patient.id), class: 'glyphicon glyphicon-plus btn btn-link btn-xs'
%br
%br
.row
  = render 'procedures/list', :procedures => @procedures.sort_by(&:id).reverse, :patient_id => @patient.id

%hr

.action.pull-right.panel
  = link_to 'Generate Invoice', generate_invoice_path(@patient.id), class: 'glyphicon glyphicon-plus btn btn-link btn-xs'
  \|
  = link_to 'Add Medicine Bill', new_invoice_detail_path(patient_id: @patient.id), class: 'glyphicon glyphicon-plus btn btn-link btn-xs'

.row
  = render 'invoices/list', :invoices => @patient.try(:invoices)

= link_to 'Back', root_path, class: 'btn btn-default'

