= form_for ([@patient, @procedure]) do |f|
  - if @procedure.errors.any?
    #error_explanation
      %h2= "#{pluralize(@procedure.errors.count, "error")} prohibited this procedure from being saved:"
      %ul
        - @procedure.errors.full_messages.each do |msg|
          %li= msg
  .field.form-group
    = f.label :procedure
    = f.text_field :procedure, class: 'form-control'
  .field.form-group
    = f.label :tooth_no
    = f.text_field :tooth_no, class: 'form-control'
  .field.form-group
    = f.label :remarks
    = f.text_area :remarks, rows: 4, class: 'form-control'
  .field.form-group
    = f.label :date
    = f.date_select :date, class: 'form-control'
  .field.form-group
    -if @invoice_detail
      = hidden_field_tag :invoice_detail_id, @invoice_detail.id
    = label_tag 'Price'
    = text_field_tag 'price',@invoice_detail.try(:price), class: 'form-control'
  .field
    = hidden_field_tag :patient_id, @procedure.patient.id
  .actions
    = f.submit 'Save', class: 'btn btn-primary'
