= form_for @appointment do |f|
  - if @appointment.errors.any?
    #error_explanation
      %h2= "#{pluralize(@appointment.errors.count, "error")} prohibited this appointment from being saved:"
      %ul
        - @appointment.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :sched
    = f.datetime_select :sched

  .field
    = f.label :remarks
    = f.text_area :remarks
  .field
    = label_tag 'Procedure'
    = text_field_tag 'procedure'
  .fields
    = label_tag 'Patient'
    = select_tag 'patient_id', options_from_collection_for_select(Patient.all, 'id','last_name')
  .actions
    = f.submit 'Save'
