= form_for @appointment do |f|
  - if @appointment.errors.any?
    #error_explanation
      %h2= "#{pluralize(@appointment.errors.count, "error")} prohibited this appointment from being saved:"
      %ul
        - @appointment.errors.full_messages.each do |msg|
          %li= msg
  .fields.form-group
    = label_tag 'Patient'
    = select_tag 'patient_id', options_from_collection_for_select(Patient.all.sort_by(&:last_name), 'id','full_name', @appointment.procedure.try(:patient).try(:id)), class: 'form-control'

  .field.form-group
    = text_field_tag 'procedure', @appointment.procedure.procedure, id: "procedure-field", placeholder: 'Add procedure/s'

  .field.form-group
    = f.label :sched
    = f.datetime_select :sched, ampm: true, class: 'form-control'

  .field.form-group
    = f.label :remarks
    = f.select :remarks, options_for_select(["Follow Up", "Confirmed", "Cancelled"], @appointment.remarks), value: @appointment.remarks, class: 'form-control'

  .actions
    = hidden_field_tag 'index', @index
    = f.submit 'Save', class: 'btn btn-primary'
