= form_for @appointment do |f|
  - if @appointment.errors.any?
    #error_explanation
      %h2= "#{pluralize(@appointment.errors.count, "error")} prohibited this appointment from being saved:"
      %ul
        - @appointment.errors.full_messages.each do |msg|
          %li= msg

  .field.form-group
    = f.label :sched
    = f.datetime_select :sched, class: 'form-control'

  .field.form-group
    = f.label :remarks
    = f.text_area :remarks, class: 'form-control'
  .field.form-group
    = label_tag 'Procedure'
    = text_field_tag 'procedure', @appointment.procedure.procedure, class: 'form-control'
  .fields.form-group
    = label_tag 'Patient'
    = select_tag 'patient_id', options_from_collection_for_select(Patient.all, 'id','full_name', @appointment.procedure.try(:patient).try(:id)), class: 'form-control'
  .actions
    = f.submit 'Save', class: 'btn btn-primary'
