%h2 Appointments

.calendar.fc.fc-ltr.fc-content
  .fc-view.fc-view-month.fc-grid
    = month_calendar table: {class: 'table table-bordered table-responsive fc-border-separate'}, td: ->(start_date, current_calendar_date) { {class: "calendar-date", data: {day: current_calendar_date}} }, td: {class: 'fc-day fc-widget-content'}, tr: {class: 'fc-week'}, header: {class: 'fc-header'}, events: appointments do |date, appointments|
      .row-fluid
        .fc-day-number.col-md-12
          = date.strftime('%d')
        .fc-day-content.col-md-12
          - appointments.each do |appointment|
            - if !appointment.is_cancelled?
              .row-fluid
                .col-md-4
                  = appointment.starts_at.strftime('%H:%M')
                .col-md-8
                  = appointment.procedure.patient.full_name


%table.table.table-hover.table-responsive#appointments
  %thead
    %tr.info
      %th Schedule
      %th Patient
      %th Remarks
      %th Procedure
      %th Estimated Time
      %th Updated By
      %th

  %tbody
    - appointments.each do |appointment|
      %tr
        %td= appointment.starts_at.strftime('%Y-%m-%d %H:%M')
        %td= link_to appointment.procedure.patient.full_name, patient_path(appointment.procedure.patient)
        %td= appointment.remarks
        %td= appointment.procedure.procedure
        %td= appointment.est_time
        %td= appointment.updated_by
        %td
          %span= link_to 'Change Schedule', edit_appointment_path(appointment, index:1), class: 'btn btn-link btn-xs glyphicon glyphicon-pencil'
          - if appointment.try(:is_confirmed?)
            %span
              \|
            %span= link_to 'Cancel Appointment', cancel_appointment_path(appointment, index:1), method: 'put', class: 'btn btn-link btn-xs glyphicon glyphicon-remove-sign'

%br

= link_to 'Set Appointment', new_appointment_path(index:1), class: 'btn btn-default glyphicon glyphicon-plus'
