%h1 Listing appointments

%table
  %tr
    %th Sched
    %th Remarks
    %th Procedure
    %th
    %th

  - @appointments.each do |appointment|
    %tr
      %td= appointment.sched
      %td= appointment.remarks
      %td= appointment.procedure
      %td= link_to 'Show', appointment
      %td= link_to 'Edit', edit_appointment_path(appointment)
      
%br

= link_to 'New Appointment', new_appointment_path
