= form_for @product do |f|
  - if @product.errors.any?
    #error_explanation
      %h2= "#{pluralize(@product.errors.count, "error")} prohibited this product from being saved:"
      %ul
        - @product.errors.full_messages.each do |msg|
          %li= msg

  .field.form-group
    = f.label :name
    = f.text_field :name, class: 'form-control'
  .field.form-group
    = f.label 'Product Type'
    = f.select :prod_type, options_for_select([["Medicine", 0], ["Dental Hygiene", 1]]), class: 'form-control'
  .field.form-group
    = f.label :capital_price
    = f.text_field :capital_price, class: 'form-control'
  .field.form-group
    = f.label :selling_price
    = f.text_field :selling_price, class: 'form-control'
  .field.form-group
    = f.label :info
    = f.text_area :info, rows: 4, class: 'form-control'
  .actions
    = f.submit 'Save', class: 'btn btn-primary'
