%h1 Listing products

%table
  %tr
    %th Name
    %th Type
    %th Capital Price
    %th Selling Price
    %th Info
    %th
    %th

  - @products.each do |product|
    %tr
      %td= product.name
      %td
        = (product.prod_type)? 'Dental Hygiene' : 'Medicine'
      %td= product.capital_price
      %td= product.selling_price
      %td= product.info
      %td= link_to 'Show', product
      %td= link_to 'Edit', edit_product_path(product)

%br

= link_to 'New Product', new_product_path
