%p#notice= notice

%p
  %b Product:
  = @product.product_id
%p
  %b Name:
  = @product.name
%p
  %b Type:
  = @product.type
%p
  %b Capital price:
  = @product.capital_price
%p
  %b Selling price:
  = @product.selling_price
%p
  %b Info:
  = @product.info

= link_to 'Edit', edit_product_path(@product)
\|
= link_to 'Back', products_path
