%p#notice= notice

%p
  %b Name:
  = @product.name
%p
  %b Type:
  -if @product.prod_type
    Dental Hygiene
  -else
    Medicine
%p
  %b Stock available:
  = @product.stock_available
%p
  %b Capital price:
  = number_with_precision(@product.capital_price, :precision => 2)
%p
  %b Selling price:
  = number_with_precision(@product.selling_price, :precision => 2)
%p
  %b Info:
  = @product.info

= link_to 'Edit', edit_product_path(@product)
\|
= link_to 'Back', products_path
